/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
  color: #222;

}

::selection {
  background: #000000;
  text-shadow: none;
  color:white;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
Author's custom styles
========================================================================== */

body {
  font-family: 'Source Sans Pro';
  background: #f6f6f6;
  color: #2a2a2a;
}


/* === Containers === */
#container {
  width:100%;
}
.container-1024{
  width: 100%;
  margin:0 auto;
  overflow: hidden;
  display: block;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  clear: both;
}
section .container-1024{
  min-height:800px;
}
.container-wide {
  width: 69%;
  margin: 0 auto;
}
#container-project{
  width: 100%;
  margin:0 auto 50px auto;
  clear:both;
  display: block;
}


/* === Header === */
header {
  margin:0 auto;
  max-width: 1024px;
  overflow:hidden;
  min-height: 50px;
  padding-top: 25px;
}
header nav {
  float:right;
  font-weight: 300;
  font-size:1.5em;
  padding-top:8px;
}


/* === Fonts === */
header a h1 {
  color: #2a2a2a;
}
header h1 {
  font-size:2.5em;
  font-weight: 600;
  float:left;
}
h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4em;
  text-transform: uppercase;
  font-style: italic;
  color:white;
  margin-bottom: 20px;
}
h3{
  font-weight: bold;
  font-size: 2em;
  line-height: 2em;
}
#home h3 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.4em;
}
strong {
  font-weight:600;
}
header a {
  text-decoration: none;
}
header nav a{
  display:inline-block;
  margin-left:25px;
  color: #2a2a2a;
  text-decoration: none;
}
.about p{
  font-size: 1.4em;
  text-align: justify;
  line-height: 1.5em;
  padding: 0rem 5rem 2rem 5rem;
}
.search p{
  padding:7px 0 0 8px;
  color:rgb(90, 90, 90);
}
.info-left p, .info-right p{
  font-size:1.5em;
  font-weight: 300;
}
.border-red{
  border-color:red;
}
.title-background {
  background: #2a2a2a;
  padding-top: 17px;
  width: 100%;
  overflow: hidden;
}
#message-validation{
  display: block;
  padding:20px 0 40px 0;
  min-height: 15px;
  text-align: center;
  font-size: 1.4em;
}
.round-small .fa{
  font-size: 2em;
}
.slides li p {
  padding: 0 10rem 1rem 10rem;
  font-size: 1.5em;
}
.slides h3 {
  font-size: 3em;
}
#information p {
  padding:10px 0 10px 0;
  border-bottom: 1px dashed rgb(186, 186, 186);
}
#small-pres h2{
  color:#2a2a2a;
  margin:0;
}
.one-third p{
  margin-top: 15px;
}
abbr{
  border-bottom:dotted 1px #2a2a2a;
  cursor:help;
}


/* === Home === */
#home {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 190px;
}
.pres-home{
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  padding-left: 3rem;
}
#last-works {
  width: 100%;
  clear:both;
}
.infolan {
  background: #2c3e50;
  width: 100%;
  padding-top: 50px;
  overflow: hidden;
}
.evenact {
  background: #902525;
  padding-top: 50px;
  width: 100%;
  overflow: hidden;
}
.ftw {
  background: #657F90;
  padding-top: 50px;
  width: 100%;
  overflow: hidden;
}
.exiagame {
  background: #891A27;
  padding-top: 50px;
  width: 100%;
  overflow: hidden;
}
.info-right {
  display: inline-block;
  vertical-align: top;
  color:white;
  margin: 2% 0 0 4%;
  width:20%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.info-left {
  display: inline-block;
  vertical-align: top;
  color:white;
  margin: 2% 7% 0 0;
  width:20%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.photo-me{
  border-radius: 50%;
  display: inline-block;
}
#mouse-icon{
  width: 17px;
  height: 25px;
  display: block;
  margin: 0 auto 2rem auto;
  border: 3px solid #2a2a2a;
  opacity: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.mt2rem{
  margin-top: 2rem !important;
}
.mt1rem{
  margin-top: 1rem !important;
}
.mt3rem{
  margin-top: 3rem;
}

#mouse-icon:hover:before{
  margin-top:-30px;
  opacity:1;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#scroll-wheel{
  width: 5px;
  height: 6px;
  display: block;
  position: relative;
  top: 5px;
  left: 6px;
  background: #2a2a2a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation: scrollWheel 1s linear infinite;
  -moz-animation: scrollWheel1s linear infinite;
  -o-animation: scrollWheel 1s linear infinite;
  animation: scrollWheel 0.1s linear infinite;
}

@-webkit-keyframes scrollWheel {
  0%   { top:5px; opacity:1; }
  100% { top:20px; opacity:0; }
}

@-moz-keyframes scrollWheel {
  0%   { top:5px; opacity:1; }
  100% { top:20px; opacity:0; }
}

@-o-keyframes scrollWheel {
  0%   { top:5px; opacity:1; }
  100% { top:20px; opacity:0; }
}


/* === CSS3 Browser === */
.previous {
  overflow:hidden;
  width:25px;
  vertical-align: middle;
}
.previous:before {
  content:'';
  height:10px;
  width:10px;
  display:inline-block;
  border:4px solid #5b6775;
  border-right-width:0;
  border-bottom-width:0;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.actions {
  margin-bottom:5px;
  display:inline-block;
}
.next {
  overflow:hidden;
  width:25px;
  vertical-align: middle;
}
.next:before {
  content:'';
  height:10px;
  width:10px;
  display:inline-block;
  border:4px solid #5b6775;
  border-right-width:0;
  border-bottom-width:0;
  transform:rotate(135deg);
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -o-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
}
.browser-left img, .browser-right img, .browser img {
  padding:0.45%;
  width:99%;
}

.toolbar {
  padding: 15px;
  vertical-align: middle;
}

.search {
  border-radius: 2px;
  background: #a4a9ae;
  width: 35%;
  height: 30px;
  display:inline-block;
  vertical-align: middle;
  position:relative;
  left:28%;
  overflow:hidden;
}
.buttons {
  display:inline-block;
  vertical-align: middle;
  float:right;
  padding-top:6px;
}

.circle {
  background: #5b6775;
  border-radius: 50%;
  width:12px;
  height: 12px;
  display:inline-block;
  margin-left: 2px;
  cursor: pointer;
}
.browser {
  background: #cfcfcf;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.browser-left {
  background: #cfcfcf;
  width: 72%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.40);
  display: inline-block;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.browser-right {
  background: #cfcfcf;
  width: 72%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.40);
  display: inline-block;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


/* === Projects === */
.next-project, .previous-project{
  padding:15px;
  border:1px solid white;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  width:180px;
  margin-top: 0.2rem;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -ms-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
  text-align: center;
  font-size: 1.5em;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.fa-angle-left{
	margin-right:1rem;
}
.fa-angle-right{
	margin-left:1rem;
}
.previous-project{
  margin-right:0.5em;
}
#information {
  float:right;
  width: 35%;
  margin-top: 10px;
  line-height: 2em;
  font-size: 1.2em;
}
#small-pres{
  color:#2a2a2a;
  padding:10px 0 10px 0;
  border-bottom: 10px solid #2a2a2a;
}

#pres{
  float: left;
  width: 60%;
  margin-top: 20px;
  text-align: justify;
  padding: 10px 0 10px 0;
  font-size: 1.3em;
  line-height: 1.8rem;
}
.highlight{
  margin-top:1rem;
  font-weight:600;
}
#information a{
	color:#2a2a2a;
}


/* === Buttons === */
.seethecase {
  padding:15px;
  border:1px solid white;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 1.5rem;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -ms-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.seethecaseblack {
  color:#2a2a2a;
  padding:15px;
  border:1px solid #2a2a2a;
  border-radius: 5px;
  display: inline-block;
  background:white;
  cursor:pointer;
  margin:0 auto;
  font-family:'Source Sans Pro';
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -ms-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
}
.seethecaseblack:hover{
  color:white;
  background:#2a2a2a;
}
.btn {
  color:white;
  padding:15px;
  border:1px solid white;
  border-radius: 5px;
  display: block;
  min-width: 250px;
  margin:0 auto;
  text-decoration: none;
  text-transform: uppercase;
  background:#2a2a2a;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -ms-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
}
.color1,.color2, .color3, .color4, .color5 {
  color:white;
}
.color1:hover {
  background: white;
  color: #2c3e50;
}
.color2:hover {
  background: white;
  color: #902525;
}
.color3:hover {
  background: white;
  color: #657F90;
}
.color4:hover {
  background: white;
  color: #891A27;
}
.color5:hover {
  background: black;
}


/* === Forms === */
.formulaire{
  margin:0 auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.formulaire input[type="text"], .formulaire input[type="email"], .formulaire textarea{
  padding:15px;
}
.input{
  width:100%;
  border:none;
  font-size:1.4em;
  background:none;
  color:#2a2a2a;
  border-radius: 2px;
  border:1px solid #d0d5d8;
  margin-bottom:15px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input[type='text']:focus, input[type='email']:focus, textarea:focus, select:focus {
  background-color: white;
}
select {
  width:100%;
  border:none;
  background:none;
  font-size:1.4em;
  color:#2a2a2a;
  border-radius: 2px;
  border:1px solid #d0d5d8;
  margin-bottom:15px;
  padding:15px 0 15px 10px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.inputMessage{
  width:100%;
  border-radius: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  color:#2a2a2a;
  border:1px solid #d0d5d8;
  min-height:200px;
  font-size:1.4em;
  margin-bottom:10px;
  background:none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.inputMessage:focus, .input:focus, select:focus{
  border-left:1px solid black;
}
:focus{
  outline:0;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    gray;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    gray;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    gray;
}


/* === Services === */
.round .fa{
  font-size: 3.5em;
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.round-small .fa {
  font-size: 2.5em;	
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fa-heart, .fa-server{
  top: 53%;
}
.navigation {
  color:white;
  float:right;
}
.square {
  border: 1px solid white;
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
  line-height: 1.2em;
  margin-left:25px;
  cursor:pointer;
}
.round {
  background:#2a2a2a;
  border-radius: 50%;
  width:100px;
  height:100px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
.round-small{
  background:#2a2a2a;
  border-radius: 50%;
  width:75px;
  height:75px;
  display: inline-block;
  text-align: center;
  cursor:pointer;
  border:1px solid #2a2a2a;
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
  -o-transition:all 0.2s;
  transition:all 0.2s;
}
.round-small:hover{
  background:#f6f6f6;
  border:1px solid #2a2a2a;
}
.round-small:hover .fa{
  color: #2a2a2a;
}
#services{
  margin:2em auto;
  text-align: center;
}
#services li {
  display: inline-block;
  width: 105px;
  height:105px;
}
.slides li {
  text-align: center;
}
.slider{
  margin:5em auto;
}

/* === Footer === */
footer {
  height:100px;
  background:#f6f6f6;
  clear:both;
}
#copyright{
  float:left;
  text-transform:uppercase;
  margin-top:41px;
}
#social{
  float:right;
}
#social a {
  color:#222;
}
#footer-container {
  width:100%;
  margin:0 auto;
}
.socialh:hover .fa{
  color:black;
}
.fa-ds{
  font-size:2em;
  color:#222;
  vertical-align:middle;
  margin-right:15px;
  text-align:center;
  width:35px;
}
.socialh{
  display:inline-block;
  padding:15px 15px 15px 30px;
  vertical-align:top;
  width:50px;
  cursor:pointer;
  height:70px;
  text-align:center;
  /*transition*/
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s;
}
.socialh:hover .fa{
  color:black;
}
.socialh:hover p{
  opacity:1;
}
.socialh p{
  opacity:0;
  overflow:hidden;
  /*transition*/
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s;
  text-indent:10px;
  line-height: 4.1;
  color:#2a2a2a;
}
#footer-container .fa{
  cursor:pointer;
  line-height:2.7;
  font-size:1.5em;
  float:left;
}

.experiments{
  padding:3rem 8rem 3rem 8rem;
}

.experiments .fa{
  opacity: 0;
      /*transition*/
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
  -o-transition:all 0.2s;
  transition:all 0.2s;
  float:right;
  margin-right: 1rem;
  padding-top: 1.2rem;
}

.experiments a{
  text-decoration: none;
  color:#2a2a2a;
}
.experiments li{
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
  -o-transition:all 0.2s;
  transition:all 0.2s;
  border-bottom: 1px solid;
  padding-bottom:4px;
  margin-bottom: 1rem;
}
.experiments li:hover{

  border-bottom: 5px solid #2a2a2a;
  padding-bottom:0;
}
.experiments li:hover .fa{
  opacity: 1; 
  margin-right: 0;
}
.experiments h3{
    -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s;
}
.experiments li:hover h3{
    margin-left:1rem; 
}


/* ==========================================================================
CSS Libraries (Animate)
========================================================================== */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


/* ==========================================================================
Media Queries
========================================================================== */

@media screen and (max-width: 480px){
  .container-wide {
    width:100%;
  }
  .seethecase {
    margin-top: 25px;
    display: block;
  }
  .search {
    width: 52%;
    left:9%;
  }
  h2{
    margin:0;
    font-size:3.2em;
    text-align:center;
  }
  .info-left p, .info-right p{
    text-align: justify;
  }
  .title-background{
    padding: 0;
  }
  .seethecase {
    width:100%;
  }
}

@media screen and (max-width: 640px){
  header nav a {
    display:block;
    margin:25px 0 0 0;
    text-align: center;
  }
  header a h1 {
    float:none;
    text-align: center;
  }
  header nav {
    float:none;
    margin-bottom:1.5em;
  }
  #services {
    display:none;
  }
  .slides li p {
    padding:0;
    font-size: 1.5em;
    text-align:justify;
    margin-bottom:2em;
  }
  .slides h3{
    font-size:2em;
  }
  .about p{
    padding: 0.2em;
  }
  #home h3 {
    text-align: center;
    float:none;
    width:100%;
    font-size:1.4em;
  }
  .pres-home{
    padding:0;
  }
  .photo-me{
    margin:0 auto 3rem auto;
    width:75%;
    max-width:300px;
    display:block;
    text-align: center;
  }
  .seethecase{
    margin: 2rem auto 1rem auto;
  }
  #information{
  	float:none;
    width:100%;
  }
  #pres{
  	float:none;
    width:100%;
  }
  .next-project, .previous-project{
  	width:50%;
  }
}

@media screen and (min-width: 640px){
  header {
    padding:25px;
  }
  .browser-left, .browser-right {
    opacity:0;
  }
  .info-left, .info-right {
    opacity:0;
  }
  .seethecase{
    display:block;
    margin: 2rem 0 1rem 0;
    width:220px;
  }
}

@media screen and (min-width: 480px){
  .search {
    width: 41%;
    left:24%;
  }
}

@media screen and (max-width: 900px){
  .socialh{
    width:auto;
    height:auto;
  }
  #copyright{
    text-align: center;
    float:none;
  }
  #home{
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .socialh p{
    display:none;
  }
  #social{
    float:none;
    display:block;
    overflow:hidden;
    width:100%;
    text-align: center;
  }
}

@media screen and (max-width: 1024px){
  .container-1024{
    padding:20px;
  }
}

@media screen and (min-width: 1024px){
  #footer-container{
    width:1024px;
  }
  .container-1024{
    width: 1024px;
  }
  .socialh:hover{
    width:120px;
  }
}

@media screen and (max-width: 1275px){
  .browser-left, .browser-right {
    width:100%;
  }
  .info-right, .info-left {
    width:100%;
    margin:0;
  }
}

@media screen and (max-width: 1510px){
  .container-wide {
    width:85%;
  }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dppx) {

}

/* ==========================================================================
Helper classes
========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}